<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>Login</title>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
          rel="stylesheet"/>
    <link href="../static/core.css" media="screen" rel="stylesheet" th:href="@{/core.css}"/>

</head>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/book/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/author">Authors</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link " href="/admin/list">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
            </li>

        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">


        <li class="nav-item">

            <a aria-label="GitHub" class="nav-link p-2"
               href="https://github.com/MuhammetAliYILDIRIM">
                <svg aria-hidden="true" class="octicon octicon-mark-github v-align-middle" height="32" version="1.1"
                     viewBox="0 0 16 16" width="32">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                          fill-rule="evenodd"></path>
                </svg>
            </a>
        </li>

    </ul>
</header>


<body>
<div class="container">

    <h2>Author List</h2>
    <table class="table table-striped">
        <thead>

        <tr>

            <th><a class="sorted" sd:pagination-sort="firstName">First name</a></th>
            <th><a class="sorted" sd:pagination-sort="lastName">Last Name</a></th>
            <th><a class="sorted" sd:pagination-sort="nationality">Nationality</a></th>
            <th><a class="sorted" sd:pagination-sort="language">Language</a></th>


            <th>View Books</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Edit</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authorsPage}">
            <form action="#" th:action="@{/author}" th:method="post">
                <td th:text="${author.firstName}"></td>
                <td th:text="${author.lastName}"></td>
                <td th:text="${author.nationality}"></td>
                <td th:text="${author.language}"></td>
                <td><a class="btn btn-lg btn-primary btn-sm" th:href="${'/book/list/'+author.id}">View Books</a></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn btn-lg btn-warning btn-sm" name="edit" th:value="${author.id}"
                            type="submit">Edit
                    </button>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn btn-lg btn-danger btn-sm" name="delete" th:value="${author.id}"
                            type="submit">delete
                    </button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
    <div class="paging">
        <div class="row">
            <div class="col-sm-6">
                Show <span sd:page-size-selector="javascript"></span> entries
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full" sd:pagination-split="5">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a aria-label="Previous" href="#"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
        <div class="col-sm-3">
            <a class="btn btn-lg btn-primary " href="/author/new">New Author</a>
        </div>
    </div>
</div>
</body>

</html>