<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Login</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous"/>
    <link href="../static/core.css" th:href="@{/core.css}" rel="stylesheet" media="screen"/>


</head>
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/book/">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/author">Authors</a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link " href="/admin/list">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/logout">Logout</a>
            </li>

        </ul>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">

        <li class="nav-item">

            <a class="nav-link p-2" href="https://github.com/MuhammetAliYILDIRIM"
               aria-label="GitHub">
                <svg class="octicon octicon-mark-github v-align-middle" height="32" viewBox="0 0 16 16" version="1.1"
                     width="32" aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg>
            </a>
        </li>
    </ul>
</header>
<body>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered ">


                <tr>
                    <td><b>Username</b></td>
                    <td th:text="${profile.username}">Username</td>
                </tr>

                <tr>
                    <td><b>First Name</b></td>
                    <td th:text="${profile.firstName}">First Name</td>

                </tr>
                <tr>
                    <td><b>Last Name</b></td>
                    <td th:text="${profile.lastName}">Last name</td>

                </tr>
                <tr>
                    <td><b>E-mail</b></td>
                    <td th:text="${profile.email}">E=mail</td>

                </tr>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-10">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>Return Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tr th:each="book : ${profile.books}">
                    <td><a class="href" th:href="${'/show/book'+book.id}" th:text="${book.title}"></a></td>
                    <td th:text="${book.returnDate}"></td>
                    <td>
                        <a th:href="${'/book/return/'+book.id}" class="btn btn-lg btn-primary btn-sm btn-danger">Give
                            Back</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>

</html>